{% extends 'base.html.twig' %}
{% block title %} User Manager {% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    {{ form_row(form.submit, { 'label': 'Submit me' }) }}
{{ form_end(form) }}
    <a href="{{ path('app_admin') }}" class="def-btn">Go back to Dashboard</a>
{% endblock %}